@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    width: 100%;
    background: #4bc2f9;
    /* fallback for old browsers */

    background: linear-gradient(90deg, rgb(136, 166, 201) 0%, rgb(138, 148, 255) 50%);
    font-family: Righteous, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

* {
    text-decoration: none;
}

.nav {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    margin-left: 15px;


}

.lista-des ul {
    display: flex;
    gap: 20px;

}

.lista-des ul li {
    list-style: none;
    text-transform: uppercase;


    font-size: 20px;
    font-weight: bold;
}

.lista-des ul li:hover{
    transform: scale(1.1);
    transition: all 0.5s;
    
    
}


.jig {
    font-size: 25px;
    font-weight: bold;
}


.Logo {
    width: 100px;
}

span {
    color: white;
}

.contenedor-BUL{
    display: flex;
    align-items: center;
    margin-left: 15%;

}
.login{
    color: white;
    
}

.barraBusqueda{
    margin-left: 10%;
    display: contents;
}

.usuario{
    width: 50px;
   margin-left: 2%;
    

}

.usuario:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}

.login-active:hover{
    transform: scale(1.2);
    transition: all 0.5s;

}
.img-icono {
    width: 100%;
    border-radius: 100%;


}

.login-active{
    margin-left: 5%;
}

.Seleccion {
    display: flex;
    justify-content: space-around;
    margin-top: 20px
}



.button {




    color: #1a1a1a;

    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    font-family: Righteous, sans-serif;

    padding: 20px 40px;
    margin-right: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 50px;




    bottom: 0;
}

.azul {
    background: #E5E0FF;
    box-shadow: 0px 5px 0 #ffffff;
}


.contenedor-news {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;

}

.contenedor-producto {
    font-family: Righteous, sans-serif;
    background-color: #E5E0FF;
    justify-content: center;
    margin-bottom: 25px;
    width: 300px;
    height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 40px;
}

.contenedor-img {
    width: 300px;



}

.img-news {
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.boton {
    border-top: 30px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.btn {

    padding: 20px 40px;
    background: #7286D3;
    color: white;
    font-weight: bold;
    border: none;
    position: relative;
    transition: all 2s ease-in-out;
}

.btn:hover:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-style: solid;
    width: 0;
    border-width: 18px;
    cursor: pointer;

    border-color: #ffffff rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.4) #ffffff;
}

.video{
    width: 100%;
   height: 500px;
    
    margin-top: 20px;
    margin-bottom: 80px;

    
}
.video1{
    width: 100%;
    
    height: 100%;
    

}

.footer{
    text-align: center;
}
.frase{
    text-transform: uppercase;
}

.frase-motivadora{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
.fotografias{
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: 0.8fr 1fr 0.8fr;
    justify-content: space-evenly;
    gap: 15px;
}
.fotoEx{
    width: 100%;
    
}


@media (min-width:1650px ) {
    .contenedor-BUL{
        display: flex;
        justify-content: space-evenly;
        margin-left: 25%
        
    }
    .video{
        height: 650px;
        

    }
    
    
}

@media (max-width:1550px) {

    .desaparece{
        display: none;
    }


    
}







